body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
  }

h2{
      font-weight: 600;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  #hero {
    width: 100%;
    height: 80vh;
    background: url("../img/hero_image.jpg") top center;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(45, 53, 69, 0.7);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    text-align: center;
    padding-top: 50px;
  }
  
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 0;
    }
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h4 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 22px;
  }
  
  #hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 9px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 40px;
    border: 2px solid #ffc107;
    color: #fff;
  }
  
  #hero .btn-get-started:hover {
    background: #ffc107;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #444444;
    bottom: 0;
    left: calc(50% - 25px);
  }

  #services .card{
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08); 
    border: none; 
    padding: 70px 20px 80px 20px;
  }

  .container-fluid .info-box {
    color: #444444;
    text-align: center;
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 20px 0 30px 0;
  }
  
  .container-fluid .info-box i {
    color: #444444;
    border-radius: 50%;
    padding: 8px;
    border: 2px dotted #ffeeba;
  }
  
  .container-fluid .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .container-fluid .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .container-fluid .php-email-form {
    box-shadow: 0 0 20px rgba(65, 76, 100, 0.05);
    padding: 30px;
  }
  
  .container-fluid .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .container-fluid .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .container-fluid .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .container-fluid .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .container-fluid .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .container-fluid .php-email-form input,
  .container-fluid .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .container-fluid .php-email-form input:focus,
  .container-fluid .php-email-form textarea:focus {
    border-color: #444444;
  }
  
  .container-fluid .php-email-form input {
    padding: 10px 15px;
  }
  
  .container-fluid .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .container-fluid .php-email-form button[type=submit] {
    background: #444444;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
  }
  
  .container-fluid .php-email-form button[type=submit]:hover {
    background: #444444;
  }