<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&display=swap" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Omah Batik Sukun</title>
</head>
<body>
    <!-- Navbar -->
    <header id="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="min-height: 80px;">
            <div class="container">
              <a class="navbar-brand" href="../index.html#" style="font-weight: 500;">
                <img src="../assets/img/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Omah Batik Sukun
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html#about">Tentang</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html#product">Produk</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html#articles">Artikel</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../index.html#contact">Kontak</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>

    <!-- Main -->
    <main id="main">

        <!-- Detail -->
        <section id="about" class="container-fluid">
          <div class="container mb-5" style="padding-top: 30px;">
            <div class="row" style="padding-top: 100px;">
              <div class="col-lg-4">
                  <img src="../assets/img/product/1.jpg" class="img-fluid" alt="Produk" style="max-height: 500px;">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0">
                  <div class="card-body">
                    <h2 class="card-text">Batik Motif Daun & Buah Sukun</h2>
                      <p class="card-text-detail" style="margin: 0 auto; color: rgb(80, 82, 82);">Filosofi motif dari buah dan daun sukun ini terinspirasi dari masyarakat lokal yang menyebut “Sukun” sebagai “Pohon Kehidupan” karena tanamana ini dapat memenuhi dan menyediakan begitu banyak kebutuhan untuk seseorang.
                          Buah dan daun mudanya dapat dimakan, batangnya yang ringan bisa digunakan untuk membangun rumah dan kano tradisional, dan kulit kayunya digunakan untuk membuat pakaian. 
                          Beberapa ahli tanaman bahkan menyatakan bahwa “Sukun” adalah buah super untuk masa depan, yang punya potensi jadi solusi masalah kelaparan dunia.
                      </p>
                    <h4 class="text mt-2">Rp 100.000</h4>
                    <h4 class="text text-success mt-3" style="cursor: pointer;"><i class="fa fa-whatsapp"></i> Hubungi Kami</h4>
                  </div>
              </div>
            </div>
            <!-- Other Product -->
            <div class="row" style="padding-top: 60px;">
                <h5 style="margin-bottom: 20px;">PRODUK LAIN DARI KAMI</h5>
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-3">
                    <div class="card" style="width: 25rem;">
                    <a href="detail.html" style="text-decoration: none; color: inherit;">
                      <img src="../assets/img/product/5.jpg" class="card-img-top" alt="..." style="height: 300px;">
                      <div class="card-body">
                        <h5 class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Batik Motif Batik Parang</h5>
                        <p class="card-text-detail" style="margin: 0 auto; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgb(80, 82, 82);">Batik Motif Parang berasal dari kata Pereng yang berarti lereng. Perengan menggambarkan sebuah garis menurun dari tinggi ke rendah secara diagonal. Susunan motif "S" jalin-menjalin tidak terputus melambangkan kesinambungan. Bentuk dasar huruf "S" diambil dari ombak samudra yang menggambarkan semangat yang tidak pernah padam. Motif Parang memiliki makna tidak pernah menyerah, ibarat ombak laut yang tak pernah berhenti bergerak. Batik motif Parang juga menggambarkan jalinan yang tidak pernah putus, baik dalam arti upaya untuk memperbaiki diri, upaya memperjuangkan kesejahteraan, maupun bentuk pertalian keluarga.
                        </p>
                        <h6 class="text mt-2">Rp 100.000</h6>
                        <h6 class="text text-success mt-3" style="cursor: pointer;"><i class="fa fa-whatsapp"></i> Hubungi Kami</h6>
                      </div></a>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-3">
                    <div class="card" style="width: 25rem;">
                      <img src="../assets/img/product/6.jpg" class="card-img-top" alt="..." style="height: 300px;">
                      <div class="card-body">
                        <h5 class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Batik Motif Batik Wayang</h5>
                        <p class="card-text-detail" style="margin: 0 auto; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgb(80, 82, 82);">Wayang merupakan salah satu kisah penokohan dan cerita tertua yang pernah ada di bumi atau Nusantara. Dari banyaknya tokoh pewayangan yang ada, salah satu tokoh wayang yang tertuang dalam batik ini adalah tokoh Dewi Wara Srikandi adalah seorang yang pemberani, bersuara nyaring, keras, dan handal atau piawai dalam olah panah. Yang menjadi watak dominan dalam diri Srikandi yaitu ia bersemangat, pemberani, memiliki tekad yang kuat, dan percaya diri.
                          </p>
                        <h6 class="text mt-2">Rp 100.000</h6>
                        <h6 class="text text-success mt-3" style="cursor: pointer;"><i class="fa fa-whatsapp"></i> Hubungi Kami</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-3">
                    <div class="card" style="width: 25rem;">
                      <img src="../assets/img/product/9.jpg" class="card-img-top" alt="..." style="height: 300px;">
                      <div class="card-body">
                        <h5 class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Kalung Kain Perca Batik</h5>
                        <p class="card-text-detail" style="margin: 0 auto; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgb(80, 82, 82);">Aksesoris ini adalah pemanfaatan kain perca dari kain batik yang sudah tidak terpakai dan dipergunakan lagi untuk pembuatan sesuatu yang lebih kreatif serta bermanfaat dan juga memiliki daya tarik dalam penjualan.
                        </p>
                        <h6 class="text mt-2">Rp 100.000</h6>
                        <h6 class="text text-success mt-3" style="cursor: pointer;"><i class="fa fa-whatsapp"></i> Hubungi Kami</h6>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 d-flex align-items-stretch mb-3">
                    <div class="card" style="width: 25rem;">
                      <img src="../assets/img/product/10.jpg" class="card-img-top" alt="..." style="height: 300px;">
                      <div class="card-body">
                        <h5 class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Tas Batik Parang Elegansi Klasik</h5>
                        <p class="card-text-detail" style="margin: 0 auto; font-size: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: rgb(80, 82, 82);">Tas Batik Parang "Elegansi Klasik" adalah simbol kemewahan dan tradisi yang terjalin dalam sebuah produk fesyen yang memukau. Terinspirasi oleh motif batik parang yang khas, tas ini membawa Anda kembali ke akar budaya Indonesia sambil tetap tampil dengan gaya yang mengesankan.
                          Spesifikasi Produk:
                          Bahan Utama: Kain Katun Premium dengan Motif Batik Parang
                          Dimensi: 30 cm (Lebar) x 25 cm (Tinggi) x 10 cm (Kedalaman)
                          Warna: Nuansa-warna alami dan klasik yang terinspirasi dari batik parang tradisional
                          Gaya: Klasik dan Elegan
                          Handle: Handle panjang yang nyaman di bahu atau di tangan
                          Detail: Jahitan rapi dan kualitas tinggi
                          </p>
                        <h6 class="text mt-2">Rp 100.000</h6>
                        <h6 class="text text-success mt-3" style="cursor: pointer;"><i class="fa fa-whatsapp"></i> Hubungi Kami</h6>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </section>

    </main>

    <!-- Footer -->
    <footer id="footer" class="container-fluid bg-body-secondary pt-1 pb-1">

      <div class="footer-top">
        <div class="container">
          <div class="row">
  
      <div class="container d-md-flex py-4">
  
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Omah Batik Sukun</span></strong>
        </div>
      </div>
      </div>
      </div>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>